<app-circle [MaxValue]="10" [Value]="7"></app-circle>
<app-circle [MaxValue]="4" [Value]="3"></app-circle>
<app-circle [MaxValue]="4" [Value]="2"></app-circle>
<app-circle [MaxValue]="10" [Value]="5"></app-circle>
<app-circle [MaxValue]="2" [Value]="1"></app-circle>
<app-circle [MaxValue]="6" [Value]="4"></app-circle>
<app-circle [MaxValue]="10" [Value]="10"></app-circle>
<app-circle [MaxValue]="20" [Value]="9"></app-circle>
<app-circle [MaxValue]="30" [Value]="17"></app-circle>

<br>
<br>
<app-circle [MaxValue]="10" [Value]="7" [Width]="50" [Height]="50"></app-circle>
<app-circle [MaxValue]="4" [Value]="3" [Width]="50" [Height]="50"></app-circle>
<app-circle [MaxValue]="4" [Value]="2" [Width]="50" [Height]="50"></app-circle>
<app-circle [MaxValue]="10" [Value]="5" [Width]="50" [Height]="50"></app-circle>
<app-circle [MaxValue]="2" [Value]="1" [Width]="50" [Height]="50"></app-circle>
<app-circle [MaxValue]="6" [Value]="4" [Width]="50" [Height]="50"></app-circle>
<app-circle [MaxValue]="10" [Value]="10" [Width]="50" [Height]="50"></app-circle>
<app-circle [MaxValue]="20" [Value]="9" [Width]="50" [Height]="50"></app-circle>
<app-circle [MaxValue]="30" [Value]="17" [Width]="50" [Height]="50"></app-circle>

<br><br>

<app-circle [MaxValue]="10" [Value]="7" [Width]="25" [Height]="25"></app-circle>
<app-circle [MaxValue]="4" [Value]="3" [Width]="25" [Height]="25"></app-circle>
<app-circle [MaxValue]="4" [Value]="2" [Width]="25" [Height]="25"></app-circle>
<app-circle [MaxValue]="10" [Value]="5" [Width]="25" [Height]="25"></app-circle>
<app-circle [MaxValue]="2" [Value]="1" [Width]="25" [Height]="25"></app-circle>
<app-circle [MaxValue]="6" [Value]="4" [Width]="25" [Height]="25"></app-circle>
<app-circle [MaxValue]="10" [Value]="10" [Width]="25" [Height]="25"></app-circle>
<app-circle [MaxValue]="20" [Value]="9" [Width]="25" [Height]="25"></app-circle>
<app-circle [MaxValue]="30" [Value]="17" [Width]="25" [Height]="25"></app-circle>